**/.vscode/**
typings/**
out/**/*.map
out/**/*.d.ts
out/test/**
test/**
src/**
**/*.map
.gitignore
.gitkeep
tsconfig.json
*.cmd
.vscode-test/**
.vscodeignore
**/package-lock.json
**/.eslintrc.js
tsconfig.json
*.vsix
*.log
todo.md
coverage/
.nyc_output/
.github/
doc/
samples/